.col-sm-5{
    background-color: #f9f9f9;
    padding: 20px 10px;
    border-radius: 2px;
    box-shadow: 0 0 4px #DDD;
}
h2{
    font-weight: 200;
    margin-top: 0;
    border-bottom: 1px solid #DDD;
    padding-bottom: 8px;
}
#reparePass{
    margin-top: 8px;
    margin-left: 5px;
}
.row-in{
    margin: 10px 0;
}
.row-in input{
    width: 100%;
}