.form{
    position: relative;
    width: 392px;
    margin: auto;
}
.form-control-container{
    float: left;
    border-radius: 2px;
    box-shadow: 0 0 4px #DDD;
    width: 100%;
    padding: 20px 10px 15px;
    background-color: #f9f9f9;
}
h2{
    font-weight: 300;
    margin-top: 0;
    border-bottom: 1px solid #DDD;
    padding-bottom: 8px;
}
.formLabel{
    margin-left: 2px;
}
.formLabel:after{
    content: ' *';
}
.user-accept{
    margin: 0 0 10px;
    padding: 9px 0;
    border-bottom: 1px dotted #DDD;
    border-top: 1px dotted #DDD;
}
.buttons{
    margin-top: 5px;
}
#reparePass{
    margin-top: 6px;
    margin-left: 5px;
    font-size: 14px;
    text-decoration: underline;
}
.row-in{
    margin: 5px 0;
}
.row-in a{
    text-decoration: underline;
}
.row-in .alert{
    padding: 8px 10px;
    margin: 4px 0;
}
#email-alert-in-label,#password-alert-in-label{
    font-weight: 400;
    display: block;
    padding-top: 3px;
}
small{
    font-size: 12px;
}
.row-in input{
    width: 100%;
}