html, body {
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    background-color: #FFF;
    unicode-bidi: embed;
    position: relative;
    font-size: 12px;
    cursor: default;
    min-width: 860px;
    color: #444b53;
    height: 100%;
}

.content-in a{
    color: #3b5998;
    text-decoration: underline;
}


/* header */
header{
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #4c66a4 !important;
    background: linear-gradient(to top, rgb(69,88,151),#4c66a4);
    border-bottom: 1px solid #133783 !important;
    height: 42px !important;
    min-height: 1px !important;
}

/* logotype */
.navbar-brand{
    font-size: 26px;
    color: #FFF !important;
    padding: 0;
    margin: 0;
    font-weight: 500;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
}
#keeper{
    margin: 10px 5px 0 0;
    padding-right: 5px;
}

/* search */
#bs-example-navbar-collapse-1 form{
    padding-left: 0;
    margin-top: 6px;
}
.navbar-form{
    position: relative;
}
.form-group-keeper{
    width: 300px;
}
#top-search{
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding-right: 25px;
    padding-left: 7px;
    outline: none !important;
    box-shadow: none !important;
    margin-top: 1px;
    padding-top: 6px;
    font-size: 14px;
    display: block;
    height: 27px;
    width: 100%;
}
.search-button-top{
    background-color: transparent;
    border: 0;
    border-left: 1px solid #DDD;
    cursor: pointer;
    outline: none !important;
    position: absolute;
    top: 5px;
    font-size: 14px;
    color: #999;
    vertical-align: -2px;
    right: 18px;
}

/* navigation */
.nav-container .nav{
    margin-top: 6px;
    padding-top: 0;
}
.navbar-default .navbar-nav>li{
    margin-right: 5px;
}
.navbar-default .navbar-nav>li:last-child{
    margin-right: 0;
}
.navbar-default .navbar-nav>li>a{
    font-family: 'Roboto', sans-serif !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    padding: 4px 12px;
}
.navbar-default .navbar-nav>li:hover>a{
    background: rgba(0, 0, 0, .1);
    color: #FFF;
}
.nav-container .nav .active a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background: rgba(0, 0, 0, .1);
    color: #FFF;
}


/* footer */
footer{
    color: #444;
    font-weight: 400;
    font-size: 14px;
    direction: ltr;
    border-top: 1px solid #ccc;
    padding: 10px 10px;
    position: absolute !important;
    bottom: 0;
    right: 0;
    left: 0;
}