html, body {
    font-family: 'Roboto', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    background-color: #FFF;
    unicode-bidi: embed;
    position: relative;
    font-size: 12px;
    cursor: default;
    min-width: 860px;
    color: #444b53;
    height: 100%;
}

.content-in a{
    color: #3b5998;
    text-decoration: underline;
}


/* header */
header{
    border: 0 !important;
    border-radius: 0 !important;
    background-color: #4c66a4 !important;
    height: 42px !important;
    min-height: 1px !important;
}

/* logotype */
.navbar-brand{
    font-size: 26px;
    color: #FFF !important;
    padding: 0;
    margin: 0;
    font-weight: 500;
    text-shadow: 0 -1px rgba(0, 0, 0, .5);
}
#keeper{
    margin: 10px 5px 0 0;
    padding-right: 5px;
}

/* search */
#bs-example-navbar-collapse-1 form{
    padding-left: 0;
    margin-top: 6px;
}
.navbar-form{
    position: relative;
}
.form-group-keeper{
    width: 300px;
}
#top-search{
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    padding-right: 30px;
    padding-left: 9px;
    outline: none !important;
    box-shadow: none !important;
    margin-top: 1px;
    padding-top: 6px;
    font-size: 14px;
    display: block;
    color: #222;
    height: 27px;
    width: 100%;
    border-radius: 3px;
    -webkit-border-top-left-radius:3px;
    -moz-border-radius-topleft:3px;
    border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -moz-border-radius-topright:3px;
    border-top-right-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    -moz-border-radius-bottomright:3px;
    border-bottom-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-bottomleft:3px;
    border-bottom-left-radius:3px;
    border: 0;
    text-indent:0;
}
#top-search:focus{
    box-shadow: 0 0 5px #444 !important;
}
.search-button-top{
    background-color: transparent;
    background-image: url("/images/app.icons/search.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 23px;
    width: 22px;
    border: 0;
    border-left: 1px solid #DDD;
    cursor: pointer;
    outline: none !important;
    position: absolute;
    top: 3px;
    bottom: 1px;
    font-size: 14px;
    color: #999;
    padding-left: 20px;
    vertical-align: -2px;
    right: 18px;
}

/* navigation */
.nav-container .nav{
    margin-top: 7px;
    padding-top: 0;
}
.navbar-default .navbar-nav>li{
    margin-right: 5px;
}
.navbar-default .navbar-nav>li:last-child{
    margin-right: 0;
}
.navbar-default .navbar-nav>li>a{
    font-family: 'Roboto', sans-serif !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    padding: 4px 12px;
}
#act-in:focus,#act-in:active{
    background: transparent !important;
    color: #FFF !important;
}
#act-in:hover{
    background: rgba(0, 0, 0, .1) !important;
    color: #FFF !important;
}
.open #act-in{
    background: #FFF !important;
    color: #222 !important;
    border-radius: 2px 2px 0 0;
    -webkit-box-shadow: 0 -6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 -6px 12px rgba(0,0,0,.175);
    -ms-box-shadow: 0 -6px 12px rgba(0,0,0,.175);
    -o-box-shadow: 0 -6px 12px rgba(0,0,0,.175);
    box-shadow: 0 -6px 12px rgba(0,0,0,.175);
}
.navbar-default .navbar-nav>li:hover>a, .open .dropdown-toggle, .open .dropdown-toggle:focus, .open .dropdown-toggle:active{
    background: rgba(0, 0, 0, .1) !important;
    color: #FFF !important;
}
.nav-container .nav .active a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background: rgba(0, 0, 0, .1);
    color: #FFF;
}
.open > ul > li.active a{
    color: #222 !important;
}
.dropdown-menu{
    margin-top: 0 !important;
    border-top: 0 !important;
    font-size: 12px !important;
    font-weight: 600;
    border-radius: 0 4px 4px 4px !important;
    margin-left: -1px;
}
.dropdown-menu li a{
    position: relative !important;
    padding-top: 4px;
    padding-bottom: 4px;
}
.dropdown-menu>li:hover>a{
    background: rgba(0, 0, 0, .051);
}
.dropdown-menu .divider{
    margin-bottom: 4px;
}
.dropdown-menu>li>a .glyphicon {
    color: #08c;
    margin-right: 6px;
    margin-left: -8px;
    float: left;
}
.dropdown-menu>li>a .glyphicon-tower,
.dropdown-menu>li>a .glyphicon-inbox,
.dropdown-menu>li>a .glyphicon-off,
.dropdown-menu>li>a .glyphicon-cog,
.dropdown-menu>li>a .glyphicon-plus-sign,
.dropdown-menu>li>a .glyphicon-upload,
.dropdown-menu>li>a .glyphicon-download,
.dropdown-menu>li>a .glyphicon-dashboard {
    margin-top: 2px;
    font-size: 15px;
}
.dropdown-menu>li>a .glyphicon-leaf{
    margin-top: 2px;
}
#user-menu-pic{
    vertical-align: -1px;
    margin-right: 2px;
    margin-left: -4px;
}
.blocked-menu-item a, .blocked-menu-item span, .blocked-menu-item a:hover{
    color: #D0D0D0 !important;
    background-color: transparent !important;
    cursor: default !important;
}

/* footer */
footer{
    color: #444;
    font-weight: 400;
    font-size: 14px;
    direction: ltr;
    border-top: 1px solid #ccc;
    padding: 10px 10px;
    position: absolute !important;
    bottom: 0;
    right: 0;
    left: 0;
}