.alert{
    border-radius: 2px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    border: 0;
}
.alert-close{
    background-color: #e2747e !important;
    border: 3px solid !important;
    border-radius: 50px !important;
    box-shadow: 0 0 2px #999;
    width: 27px !important;
    padding-bottom: 10px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    color: #FFF !important;
    display: block;
    height: 27px;
    right: -10px;
    opacity: 1;
    top: -10px;
}
.alert-close:hover{
    opacity: 1;
    box-shadow: 0 0 2px #999, 0 0 4px #999;
}
.alert-danger{
    background-color: #e2747e;
    color: #FFF;
}

.alert-success {
    background-color: #3fc59d;
    color: #FFF;
}

.close{
    outline: none !important;
}


.label-message{
    background-color: #e2747e;
    text-align: center;
    position: absolute;
    font-size: 12px;
    border-radius: 50px !important;
    right: 6px;
    padding-top: 3px;
    top: 3px;
}


.alert-form-danger{
    margin-top: -4px !important;
    background: #f04124;
    font-size: 12px;
    padding: 2px 4px !important;
    font-style: italic;
    border-radius: 0;
}


.modal-title{
    font-weight: 400;
}
.modal-footer{
    padding: 10px 20px;
}