.formLabel{
    display: block;
    clear: both;
    font-size: 14px;
    cursor: pointer;
    float: left;
    font-weight: 400;
}
.formLabel:first-letter{
    text-transform: uppercase;
}

/* buttons */
.btn{
    border-radius: 2px;
    padding: 6px 15px;
}

.btn[disabled=disabled]{
    cursor: not-allowed;
    pointer-events: auto;
}
.btn-info{
    background-color: #0066cc;
    border: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    outline: none !important;
}
.btn-info:hover, .btn-info:active, .btn-info:focus{
    background-color: rgba(0, 102, 204, 0.73);
}
.btn-info[disabled=disabled],.btn-info[disabled=disabled]:hover{
    background-color: #90b0e0;
}

/* input writtable fields */
input[type=text],input[type=email],input[type=password]{
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    font-family: inherit;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    padding: 6px 4px;
    vertical-align: 0;
    line-height: normal;
    width: 100%;

    box-sizing: border-box;
    font-size: 14px;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    outline: none;
}