.photo-layout{
    height: 320px;
    width: 100%;
    background-image: url("/images/app.design/layout-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 0 30px -10px #DDD;
    position: absolute;
}

#change-layout{
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: .6;
    -webkit-transition: all 0.5s ease, color 0.3s ease;
    -moz-transition: all 0.5s ease, color 0.3s ease;
    -ms-transition: all 0.5s ease, color 0.3s ease;
    -o-transition: all 0.5s ease, color 0.3s ease;
}
.photo-layout:hover #change-layout{
    opacity: 1;
}

.first-block,.user-info-in-first-block{
    min-height: 320px;
}


#change-user-picture-area{
    min-height: 440px;
    padding: 5px;
}
.modal-footer{
    margin-top: 0;
}

#change-layout-modal .modal-dialog{
    min-width: 440px !important;
    max-width: 1200px !important;
}


.user-info-in-first-block{
    background-color: rgba(255,255,255,.5);
    box-shadow: 5px 0 13px -8px #999;
    z-index: 99;
}

.user-picture{
    background-color: #FFF;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 120px;
    margin: 25px auto 25px;
    border-bottom: 1px solid #d0d0d0;
}
.no-picture{
    background-image: url('/images/app.icons/avatars.jpg');
    background-position: -26px -34px;
    cursor: pointer;
}

.uploader-empty, #upload-area-layout{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 100%;
}
#upload-area-layout{
    cursor: pointer;
    opacity: 0;
}
.uploader-hover{
    background-color: rgba(255, 194, 0, 0.89) !important;
}
#instr-layout-photo{
    margin-top: 180px;
    display: block;
    font-size: 20px;
}

.user-name{
    font-size: 16px;
}
.user-name b{
    cursor: pointer;
}