.photo-layout{
    height: 320px;
    width: 100%;
    background-image: url("/images/app.design/layout-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 0 30px -10px #DDD;
    position: absolute;
}
.first-block,.user-info-in-first-block{
    min-height: 320px;
}

.user-info-in-first-block{
    background-color: rgba(255,255,255,.5);
    z-index: 99;
}

.user-picture{
    background-color: #FFF;
    text-align: center;
    width: 100px;
    border-radius: 120px;
    margin: 15px auto;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 0 30px -10px #DDD;
}